	body{
	background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.1) 18%, rgba(184,184,184,0.5) 100%);  
}
.d-flex button{
	margin: 1.5em 0.5em;
	padding: 0.3em 1.4em;
}
.d-flex table{
	margin: 1em 10em;
}
table .btnedit{
	color: lightsalmon;
	cursor: pointer;
}

.success{
	background-color: lightgreen;
	padding: 1em;
}
.error{
	background-color: tomato;
	padding: 1em;
}