body{
	background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.1) 18%, rgba(184,184,184,0.5) 100%);  
}

.ck-editor__editable {

	/*word-wrap: break-word;*/
	max-height: 7.5em;
    min-height: 7.5em;
    min-width: 48em;
    max-width: 48em;
}


.error_show {
	background: #4B0000;
	color: #FFFFFF;
	font-size: 20px;
	justify-content: center;
}